// Colors
// Primary Colors
$color-primary: #1E5AFA;
$color-white: #FFF;
$color-black: #000;

// Aqua Colors
$color-aqua-green: #01A6A0;

// Shades of Blue
$deep-blue: #000F37;
$dark-navy: #1B263D;

// Grayscale
$light-gray: #E7EBEE;
$very-light-gray: #FAFAFA;
$grayish: #9C9EA3;
$dark-gray: #575757;
$dark-charcoal: #313131;
$slate-gray: #656565;
$bluish-gray: #5F7285;