@use './base/reset';
@use './base/variables' as var;

//partials
@use './partials/header';
@use './partials/blue-background';
@use './partials/hero';
@use './partials/about';
@use './partials/clients';

html {
    font-size: 16px;
    letter-spacing: 2px;

    @media (max-width: 1350px) {
        font-size: 14px;
    }

    @media (max-width: 1250px) {
        font-size: 12px;
    }

    @media (max-width: 950px) {
        font-size: 10px;
    }
}

.container {
    max-width: 85%;
    margin: 0 auto;

    @media (min-width: 1720px) {
        max-width: 70%;
    }
}

@mixin title($font-size, $color, $font-weight) {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}

.title--medium {
    @include title(3.25rem, var.$dark-charcoal, 700);

    @media (max-width: 530px) {
        @include title(2.5rem, var.$dark-charcoal, 700);
    }
}

.title--big {
    @include title(5.313rem, var.$dark-charcoal, bold);
}

.title--big-light {
    @include title(5.313rem, var.$color-white, bold);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var.$deep-blue; 
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: darken(var.$deep-blue, 10%); 
}